$my-font: 'Archivo', sans-serif;
$title-font: 'Comfortaa', cursive;
$my-white: hsl(0, 0%, 80%);
$my-red: hsl(0, 100%, 50%);
$my-red-light: hsl(0, 100%, 60%);
$my-blue: hsl(240, 100%, 50%);
$my-blue-dark: #002366;
$link-blue: #4182F6;
$my-color: hsl(225, 6%, 60%);
$my-wallpaper: #9FD0BB;
$notice: #A7F3D0;